<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<form action="/login">
    <label>You must login
        <button>login</button>
    </label>
</form>

<hr>

<form action="/register">
    <label>or register
        <button>register</button>
    </label>
</form>

</body>
</html>

